.DS_Store
Thumbs.db
.idea
node_modules
npm-debug.log
dist/*
*.org
.tern-project
tags
.vagrant
deploy/cloudformation.json
deploy/deploy-cf.json
screenshots/
.vscode
jsconfig.json
typings.json
coverage/generated/
/src/client/ishi/join/*ediff-merge*
/TODO.org_archive
/pa.cer
/nib.sh
/typings/globals/node/index.d.ts
/typings/index.d.ts
/pacts/consumer_1-provider_1.json
*.log
/logs
/logs/*
